<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
      <key>CLIENT_ID</key>
      <string>259876471712-hstml8fe9p42rj4h4jmh0h0hea6ihob7.apps.googleusercontent.com</string>
      <key>REVERSED_CLIENT_ID</key>
      <string>com.googleusercontent.apps.259876471712-hstml8fe9p42rj4h4jmh0h0hea6ihob7</string>
      <key>PLIST_VERSION</key>
      <string>1</string>
      <key>BUNDLE_ID</key>
      <string>neha.gupta.googleSignInDemo</string>
    </dict>
    </plist>